.Footer
{
    width: 100%;
    box-sizing: border-box;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: 1px solid var(--faint-color);
    border-left: none;
    border-right: none;
}

.Footer-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    width: 30%;
}

.footer-logo h2
{
    color: aliceblue;
}

.footer-logo-abbreviation
{
    height: 60px;
    width: 60px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.footer-navigation-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    width: 40%;
}

.footer-social
{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.footer-social-media
{
    height: 50px;
    width: 50px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.footer-social-media:hover
{
    height: 50px;
    width: 50px;
    background: silver;
    transition: all .5s ease-in-out;
}

.footer-icons
{
    font-size: 1.5em;
    color: red;
}

.copyright
{
    /* width: 100%; */
    display: flex;
    /* gap: .5em; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.copyright p
{
    padding: 0;
    margin: 0;
    color: aliceblue;
}