.room-details-overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;
    padding-top: 1em;
    box-sizing: border-box; 
}


.room-details-content 
{
    background: white;
    width: 95%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5em;
    border-radius: 20px;
    padding: 1em;
    padding-top: 0.5em;
    overflow-y: auto;
    max-height: 90vh; /* Prevent the content from exceeding the viewport height */
}


/* GALLERY */
.Gallery
{
  
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding: 2em;
}

.gallery-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gallery-header h2
{
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.return-icon
{
    cursor: pointer;
}

.room-details-buttons-box
{
    border: none;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7em;
}

.room-details-buttons
{
    border: none;
    background: inherit;
    font-size: 1.3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

/* FLEX */

.room-gallery
{
    /* height: 50vh; */
    background: var(--primary-color);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .7em;
    padding: 16px; 
    box-sizing: border-box;
    border: 1px solid var(--faint-color); 
    border-radius: 20px;
    position: relative;
    overflow-y: auto;
}

.room-gallery-details
{
    background: white;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

.room-pictures
{
    box-shadow: var(--box-shadow);
    border-radius: var(--box-border-radius);
    cursor: pointer;
}
.room-gallery-details img 
{
    width: 100%; 
    height: auto; 
    border-radius: var(--box-border-radius);
    cursor: pointer;
}

/* ENDS */

/* location */
.room-location
{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.room-location h3,
.room-location p
{
    padding: 0;
    margin: .5em 0;
}

/* ends */

/* ROOM CONTENT */
.room-full-content
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
    gap: 1em;
}

/* LEFT */
.content-left
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5em;
    padding: 1em 0;
}

.rating-box
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--faint-color);
    border-radius: 10px;
}

.box
{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5em;
    padding: 0 1em;
    box-sizing: border-box;
}

.about-section
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}

.about-section-content
{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1em;
}

.offers
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: .5em;
}

.offered-items-left
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .1em;
    /* background: blue; */
}

.offered-items-left p
{
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 1.1em;
}

.offer-icon
{
    font-size: 1.1em;
    color: red;
}


/* ENDS */

/* RIGHT CONTAINER */
.content-right
{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    box-sizing: border-box;
    padding: 1em;
}

.reservation
{
    border: 2px solid var(--faint-color);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.reservation p span
{
    color: black;
    font-weight: lighter;
}

.check
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


/* TOP */
.check-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--faint-color);
    border-radius: 10px;
    width: 100%;
}

.check-in,
.check-out
{
    display: flex;
    gap: .5em;
    flex-direction: column;
    justify-content: center;
    padding: .3em .7em;
    width: 50%;
    border-right: 1px solid black;
}

.check-out
{
    border-right: none;
}

.check-in p,
.check-out p
{
    padding: 0;
    margin: 0;
}

.reservation .confirm-button
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: greenyellow;
    padding: 1em;
    cursor: pointer;
}

/* BOTTOM */
.check-bottom
{
    display: flex;
    justify-content: start;
    align-items: center;
    border: 2px solid var(--faint-color);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.check-bottom p
{
    padding-left: 1em;
}
/* ENDS */

/* CHECK CONTENT */
.check-content
{
    display: flex;
    gap: .5em;
    flex-direction: column;
    justify-content: center;
    padding: .3em .7em;
    padding-bottom: 0;
    width: 100%;
}

/* TOP */
.check-content-top
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.check-content-top p
{
    font-size: 16px;
}


/* BOTTOM */
.check-content-bottom
{
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .2em;
    padding-top: .5em;
}

.check-content-bottom P
{
    padding: 0;
    margin: 0;
}
/* ENDS */

/* reservation-location */
.reservation-location
{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    border: 1px solid var(--faint-color);
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.reservation-location p
{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

/* ROOM RESERVATION */
.payment-wrapper
{
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
}

.payment-header
{
    width: 100%;
    display: flex;
    align-items: center;
}

.payment-header h2
{
    display: flex;
    align-items: center;
    gap: .3em;
}

.left-right-contain-wrapper
{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: blue; */
}

.room-details-left-container-payment
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--faint-color);
    border-radius: 20px;
    padding: 1em;
}

.room-details-left-container-payment p
{
    font-size: 1.7em;
}

.payment-gateway,
.payment-gateway-card,
.payment-gateway-zip-code,
.payment-gateway-country
{
    width: 100%;
    display: flex;
}

.payment-gateway input,
.payment-gateway-card input,
.payment-gateway-zip-code input,
.payment-gateway-country input
{
    width: 100%;
    display: flex;
    border: 2px solid var(--faint-color);
    border-radius: 10px;
    padding: 1em;

}

.payment-gateway-card
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-detail
{
    width: 50%;
    display: flex;
    justify-content: center;
}

.payment-top
{
    height: 50%;
    display: flex;
}

.payment-bottom
{
    height: 50%;
    display: flex;
    gap: 1em;
}



.confirm-button-box
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-button
{
    border: 2px solid black;
    border-radius: 50px;
    background: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1.5em;
    cursor: pointer;
}

button:hover
{
    color: white;
    transition: all .3s ease-in-out;
    background: silver;
    border-radius: 50px;
    border: 2px solid silver;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.cancel-button
{
    background: red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 1em;
    cursor: pointer;
}


/* PAYMENT NOTIFICATION */

.confirmation-notification-layout
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.confirmation-notification
{
    width: 30%;
    background: var(--primary-color);
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    border: 2px solid black;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    /* position: fixed; */
    right: 50%;
    /* transform: translate(50%, 50%); */
}

.tick
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    box-shadow: var(--box-shadow);
    color: greenyellow;
}