.room-details-overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;
    padding-top: 1em;
    box-sizing: border-box; 
}


.room-details-content 
{
    background: white;
    width: 95%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.5em;
    border-radius: 20px;
    padding: 1em;
    padding-top: 0.5em;
    overflow-y: auto;
    max-height: 90vh; /* Prevent the content from exceeding the viewport height */
}


/* GALLERY */
.Gallery
{
  
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    padding: 2em;
}

.gallery-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gallery-header h2
{
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.return-icon
{
    cursor: pointer;
}

.room-details-buttons-box
{
    border: none;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7em;
}

.room-details-buttons
{
    border: none;
    background: inherit;
    font-size: 1.3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

/* FLEX */

.room-gallery
{
    /* height: 50vh; */
    background: var(--primary-color);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .7em;
    padding: 16px; 
    box-sizing: border-box;
    border: 1px solid var(--faint-color); 
    border-radius: 20px;
    position: relative;
    overflow-y: auto;
}

.room-gallery-details
{
    background: white;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}

.room-pictures
{
    box-shadow: var(--box-shadow);
    border-radius: var(--box-border-radius);
    cursor: pointer;
}
.room-gallery-details img 
{
    width: 100%; 
    height: auto; 
    border-radius: var(--box-border-radius);
    cursor: pointer;
}

/* ENDS */

/* location */
.room-location
{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.room-location h3,
.room-location p
{
    padding: 0;
    margin: .5em 0;
}

/* ends */

/* ROOM CONTENT */
.room-full-content
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
}

/* LEFT */
.content-left
{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5em;
    padding: 1em 0;
}

.rating-box
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--faint-color);
    border-radius: 10px;
}

.box
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5em;
    padding: 0 1em;
    box-sizing: border-box;
}

/* ENDS */
