.room-details-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    background: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Popup container */
.room-details-content
{
    background: white;
    width: 100%; 
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: .5em;
}

/* GALLERY */
.Gallery
{
  
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
    padding: 4em;
}

.gallery-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gallery-header h1
{
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.return-icon
{
    cursor: pointer;
}

.room-details-buttons-box
{
    border: none;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7em;
}

.room-details-buttons
{
    border: none;
    background: inherit;
    font-size: 1.3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

/* FLEX */

.gallery-flex
{
    background: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 2em; 
    box-sizing: border-box; 
}

.room-picture-1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    object-fit: cover;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.room-picture-1 img
{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.right-picture-box
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.right-picture-box img
{
    width: 100%;
}

.room-picture-2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 1em;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.room-picture-2 img
{
    width: 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}





