.update-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;
    box-sizing: border-box;
}


.update-content {
    background: white;
    width: 100%;
    height: 100vh;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    border-radius: 20px;
    padding: 2em;
    padding-top: 0.5em;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 0;
}

/* SCROLL */
.update-content {
    -ms-overflow-style: none;
}


.update-content::-webkit-scrollbar {
    display: none;
}

/* ENDS */

.details-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.details-header h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
    font-size: 1.3em;
    color: rgba(0, 0, 0, .7);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.back-arrow {
    cursor: pointer;
}

.logout {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: .7em 1.5em;
}

.user-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    transition: all .5s ease-in;
    transition: all .5s ease-in;
    border: 2px solid var(--faint-color);
    padding: 1em;
    box-sizing: border-box;
}

.user-details-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hearder-reveal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: rgb(242, 241, 241);
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
    line-height: .5;
    padding: .1em 3em;
    box-sizing: border-box;
    font-size: .8em;
    transition: all .5s ease-in;
    transition: all .5s ease-out;
}


.viewDetails {
    font-size: 2em;
}

.hearder-reveal:hover {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease-in;
    transition: all .5s ease-out;
}

.bookings-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5em;
    width: 100%;
    border: 2px solid var(--faint-color);
    padding: 1em;
    box-sizing: border-box;
}


.btn-primary {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #1DA1F2;
    height: 3em;
    gap: .2em;
}

.btn-primary button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7em .7em;
    border-radius: 10px;
    background: #1877F2;
    border: 2px solid #1877F2;
    box-shadow: 4px 0 10px rgba(0, 0, 0, .1);
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
}

.actions-button {
    position: relative;
    transition: all .5s .2s ease-in;
    transition: all .5s .2s ease-out;
}

.tooltip {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
    color: white;
    padding: .7em 1em;
    width: 3.5em;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    font-family: 'Helvetica Neue ';
    z-index: 2000;
}



.actions-button:hover .tooltip {
    top: -150px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.btn-primary button:hover {
    border-radius: 10px;
    background: #1DA1F2;
    border: 2px solid #1DA1F2;
    transition: all .5s ease-in-out;
}

/* FAVORITE */
.my-favorites {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5em;
    width: 99%;
}

/* REVIEW FORM */
.review-form-layout {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 5000;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.review-form {

    width: 100%;
    height: 100%;
    background: #1DA1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 1em;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.review-form textarea {
    width: 90%;
    height: 50%;
    padding: .7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

.review-form input {
    width: 40%;
    padding: .7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    outline: none;
}

.review-form button {
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
}

@media only screen and (max-width: 740px) {

    .update-overlay {
        padding: 0;
        box-sizing: border-box;
    }


    .update-content {
        width: 100%;
        border-radius: 0;
        padding: 1em;
        max-height: 100vh;
        height: 100%;
    }

    .details-header h2 {
        font-size: 1.2em;
        gap: 1em;
    }

    .logout {
        display: none;
    }

    .input-wrapper button {
        width: unset;
        color: black;
        background: transparent;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 0 4px;
        cursor: pointer;
        padding: .8em 1em;
        /* gap: 1em; */
    }

    .hearder-reveal {
        padding: .4em 1.2em;
        border-radius: 10px;
        font-size: .6em;
    }


    .viewDetails {
        font-size: 1.5em;
    }

    /* FAVORITE */
    .my-favorites {
        width: 100%;
        box-sizing: border-box;
    }

}