/* BODY */
body
{
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root
{
  --primary-color: #fff;
  --secondary-color: #000;
  --background-color: #f7f7f7;
  --text-color: #333;
  --box-border-radius: 20px;
  --button-border-radius: 50px;
  --circle-radius: 50%;
  --input-box-border-radius: 10px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  --faint-color: rgba(0, 0, 0, .3);
  --grey-color: #d9d9d9;
  --red: red;
}

::placeholder
{
  padding-left: .7em;
}
/* ENDS */

/* APPLICATION */
.App
{
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
  justify-content: start;
  align-items: center;
  background: var(--background-color);
}
/* ENDS */

/* NAVIGATION */
nav
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid var(--faint-color); */
  background: var(--primary-color);
  padding: .7em 0;
}
/* ENDS */

/* MAIN */
main
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}
/* ENDS */

/* FOOTER */
footer
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grey-color);
}
/* FOOTER ENDS */